
.detailsBanner{
    margin-bottom: 0;
    padding-top: 120px;
    min-height: 640px;
    padding-bottom: 50px;
}
.detailsBanner .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
    overflow: hidden;
    z-index: -1;
}
.detailsBanner .backdrop-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.movieDetailsWrap {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}
.movieDetailsWrap .left-block{
    max-width: 350px;
}
.movieDetailsWrap .left-block img{
    border-radius: 20px;
}
.detailsBanner .opacity-layer{
    z-index: -1;
}
.rating.video-player h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-shadow: 2px 2px 20px #e50914;
}
.movieDetailsWrap h1{
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-shadow: 2px 2px 20px #e50914;
}

.play-icon svg polygon{
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: #fff;
    transform: translateY(0);
    transition: all .7s ease-in-out;
}
.play-icon svg circle{
    stroke: #fff;
    stroke-dasharray: 650;
    stroke-dashoffset: 1300;
    transition: all .5s ease-in-out;
}
.play-icon:hover svg polygon,
.play-icon:hover svg circle{
    stroke-dashoffset: 0;
    stroke: #e50914;
}
.rating.video-player{
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
.video-player .play-icon{
    display: flex;
    align-items: center;
    gap: 15px;
}
.video-player .play-icon:hover h4{
    color: #e50914;
    transition: all 0.4s ease-in-out;
}
.movieDetailsWrap .sub-title{
   margin: 15px 0;
   opacity: 0.4;
   font-size: 22px;
   line-height: 30px;
   font-weight: 500;
}
.movieDetailsWrap .genres{
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
    flex-flow: row wrap;
}
.movieDetailsWrap .genres span{
    background-color: #e50914;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
    color: #fff;
    white-space: nowrap;
}

.overview{
    max-width: 700px;
    margin-top: 30px;
}
.overview p{
    font-size: 18px;
    line-height: 25px;
    opacity: 0.8;
}

.movieDetailsWrap .circleRating{
    height: 80px;
    width: 80px;
}
.movieDetailsWrap .circleRating svg text{
    font-size: 30px;
}
.circleRating{
    background-color:#04152d;
    border-radius: 50%;
}

.infoList{
    list-style: none;
    margin-top: 30px;
    line-height: 40px;
}
.infoList>span{
    margin-right: 10px;
}
.infoList span>span{
    opacity: 0.6;
}
.castCard p{
    opacity: 0.8;
}

/* Responsive */


@media (max-width:1279px) {
    .movieDetailsWrap {
        gap: 40px;
    }
    .movieDetailsWrap .left-block {
        max-width: 300px;
    }
}
@media (max-width:1024px){
    .movieDetailsWrap .circleRating,
    .play-icon svg{
        height: 70px;
        width: 70px;
    }
    .overview p {
        font-size: 16px;
        line-height: 23px;
    }
}

@media (max-width:576px) {
    .movieDetailsWrap{
        flex-direction: column;
        gap: 20px;
    }
    .movieDetailsWrap h1 {
        text-align: center;
        font-size: 22px;
        line-height: 30px;  
    }
    .movieDetailsWrap .left-block {
        max-width: 230px;
        margin: auto;
    }
    .movieDetailsWrap .left-block  img{
        border-radius: 10px;
    }
    .detailsBanner {
        padding-top: 90px;
    }
    .movieDetailsWrap .sub-title {
        font-size: 20px;
    }
    
}
