
.errorWrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorWrap button{
    background-color: rgb(229 9 20 / 75%);
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    border: 0;
    border-radius: 8px;
    width: 180px;
    height: 50px;
    cursor: pointer;
}   
.errorWrap h1,
.errorWrap h2{
    font-size: 400px;
    line-height: 400px;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-shadow: 2px 2px 40px rgb(229, 9, 20,0.7);
}

.errorWrap h2{
    font-size: 60px;
    line-height: 70px;
    margin: 30px 0;
}
.errorWrap h3{
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    margin-bottom: 30px;
}


@media (max-width:1279px) {
    .errorWrap h1{
      font-size: 300px;
      line-height: 300px;
   }
   .errorWrap h2 {
    font-size: 45px;
    line-height: 60px;
    margin: 25px 0;
   }
   .errorWrap h3 {
    font-size: 30px;
    line-height: 40px;
   }
   .errorWrap button {
    font-size: 18px;
    line-height: 28px;
    width: 170px;
    height: 50px;
   }
}
@media (max-width:767px){
    .errorWrap h1{
        font-size: 200px;
        line-height: 200px;
     }
     .errorWrap h2 {
        font-size: 35px;
        line-height: 45px;
        margin: 25px 0;
       }
       .errorWrap h3 {
        font-size: 25px;
        line-height: 35px;
       }
}
@media (max-width:575px){
    .errorWrap h1{
        font-size: 150px;
        line-height: 150px;
     }
     .errorWrap h2 {
        font-size: 30px;
        line-height: 40px;
        margin: 25px 0;
       }
       .errorWrap h3 {
        font-size: 20px;
        line-height: 30px;
       }
       .errorWrap button {
        font-size: 16px;
        line-height: 26px;
        width: 150px;
        height: 40px;
       }
}