.cardShimmer-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.shimmer-card{
    width: 244px;
    height:400px ;
    background: #1d4277;
    backdrop-filter: blur(3.5px);
    border-radius: 20px;
    position: relative;
}

.shimmer-card-effect{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    width: 0px;
    background: #28538f70;
    box-shadow: 0 0 50px 10px #28538f70;
    animation: float 0.5s infinite alternate;
    overflow: hidden;
}


@keyframes float {
    from{
       left: 10%;
    }to{
       left: 80%;
    }
}