.cardShimmer-wrap{
    display: flex;
    overflow: hidden;
    gap: 30px;
}
.cardShimmer-wrap.castShimmer{
    flex-wrap: nowrap;
}
.cardShimmer-wrap.listShimmer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.cardShimmer-wrap.listShimmer .shimmer-card{
    width: auto;
}

.shimmer-card{
    width: 244px;
    height:400px ;
    background: #1d4277;
    backdrop-filter: blur(3.5px);
    border-radius: 20px;
    position: relative;
}

.shimmer-card-effect{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    width: 0px;
    background: #28538f70;
    box-shadow: 0 0 50px 10px #28538f70;
    animation: float 0.5s infinite alternate;
    overflow: hidden;
}
.moviesCardShimmer{
    height: 360px;
}

.movieDetailsWrap.shimmer .imageShimmer{
   background-color:#16335c;
   border-radius: 20px;
   width: 350px;
   height: 525px;
}
.movieDetailsWrap.shimmer .line1,
.movieDetailsWrap.shimmer .line2,
.movieDetailsWrap.shimmer .line3,
.movieDetailsWrap.shimmer .line4,
.movieDetailsWrap.shimmer .line5,
.movieDetailsWrap.shimmer .line6,
.movieDetailsWrap.shimmer .line7,
.movieDetailsWrap.shimmer .line8{
    display: flex;
    width: 100vw;
    max-width: 600px;
    height: 20px;
    border-radius: 20px;
    background-color:#16335c;
    margin-bottom: 30px;
}
.movieDetailsWrap.shimmer .line2{
    max-width: 400px;
}
.movieDetailsWrap.shimmer .line3{
    max-width: 500px;
    margin-bottom: 50px;
}
.movieDetailsWrap.shimmer .line5{
    max-width: 200px;
    margin-bottom: 50px;
}
.movieDetailsWrap.shimmer .line7{
    max-width: 300px;
    margin-bottom: 30px;
}
.movieDetailsWrap.shimmer .line8{
    max-width: 450px;
}

.castShimmer .shimmer-card{
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
    border-radius: 50%;
}
.castShimmer .shimmer-card .shimmer-card-effect{
    height: 45%;
}

@keyframes float {
    from{
       left: 10%;
    }to{
       left: 80%;
    }
}

@media (max-width:1440px) {
    .cardShimmer-wrap.listShimmer{
        grid-template-columns: repeat(5,1fr);
    }
    .cardShimmer-wrap.listShimmer .shimmer-card{
        height: 360px;
    }
}

@media (max-width:1279px) {
    .movieDetailsWrap.shimmer .imageShimmer {
        width: 300px;
        height: 480px;
    }
    .movieDetailsWrap.shimmer .line1,
    .movieDetailsWrap.shimmer .line2,
     .movieDetailsWrap.shimmer .line3,
      .movieDetailsWrap.shimmer .line4,
       .movieDetailsWrap.shimmer .line5,
        .movieDetailsWrap.shimmer .line6,
         .movieDetailsWrap.shimmer .line7,
          .movieDetailsWrap.shimmer .line8 {
       height: 18px;
   }
   .cardShimmer-wrap.listShimmer .shimmer-card{
      height: 330px;
   }
   .shimmer-card {
    width: 250px;
    height: 350px;
}
}
@media (max-width:1199px){
    .castShimmer .shimmer-card {
        width: 170px;
        height: 170px;
        margin-bottom: 0px;
    }
    .cardShimmer-wrap.listShimmer{
        grid-template-columns: repeat(4,1fr);
    }
    .cardShimmer-wrap.listShimmer .shimmer-card{
        height: 320px;
    }
}

@media (max-width:840px){
    .movieDetailsWrap.shimmer .line1,
     .movieDetailsWrap.shimmer .line2,
      .movieDetailsWrap.shimmer .line3,
       .movieDetailsWrap.shimmer .line4,
        .movieDetailsWrap.shimmer .line5,
         .movieDetailsWrap.shimmer .line6,
          .movieDetailsWrap.shimmer .line7,
           .movieDetailsWrap.shimmer .line8 {
        max-width: 370px;
        height: 15px;
    }
    .movieDetailsWrap.shimmer .line2 {
        max-width: 300px;
    }
    .movieDetailsWrap.shimmer .line3 {
        max-width: 350px;
    }
    .movieDetailsWrap.shimmer .line5 {
        max-width: 150px;
    }
    .movieDetailsWrap.shimmer .line7 {
        max-width: 240px;
    }
    .movieDetailsWrap.shimmer .line8 {
        max-width: 350px;
    }
    .movieDetailsWrap.shimmer .imageShimmer {
        width: 280px;
        height: 425px;
    }
    .cardShimmer-wrap.castShimmer {
        gap: 15px;
    }
    .cardShimmer-wrap.listShimmer{
        grid-template-columns: repeat(3,1fr);
    }
    .cardShimmer-wrap.listShimmer .shimmer-card{
        height: 300px;
    }
}

@media (max-width:767px){
    .movieDetailsWrap.shimmer .line1,
     .movieDetailsWrap.shimmer .line2,
      .movieDetailsWrap.shimmer .line3,
       .movieDetailsWrap.shimmer .line4,
        .movieDetailsWrap.shimmer .line5,
         .movieDetailsWrap.shimmer .line6,
          .movieDetailsWrap.shimmer .line7,
           .movieDetailsWrap.shimmer .line8 {
        max-width: 280px;
        height: 12px;
    }
    .movieDetailsWrap.shimmer .line2 {
        max-width: 200px;
    }
    .movieDetailsWrap.shimmer .line3 {
        max-width: 240px;
    }
    .movieDetailsWrap.shimmer .line5 {
        max-width: 100px;
    }
    .movieDetailsWrap.shimmer .line7 {
        max-width: 190px;
    }
    .movieDetailsWrap.shimmer .line8 {
        max-width: 260px;
    }
    .movieDetailsWrap.shimmer .imageShimmer {
        width: 280px;
        height: 425px;
    }
    .movieDetailsWrap.shimmer .imageShimmer {
        width: 235px;
        height: 380px;
    }
}
@media (max-width:576px) {
    .movieDetailsWrap.shimmer .imageShimmer {
        width: 235px;
        height: 330px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .cardShimmer-wrap.listShimmer{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .cardShimmer-wrap.listShimmer .shimmer-card{
        height: 250px;
    }
    .shimmer-card {
        width: 170px;
        height: 270px;
    }
    .cardShimmer-wrap {
        gap: 20px;
    }
}
@media (max-width:380px){
    .castShimmer .shimmer-card {
        width: 150px;
        height: 150px;
    }
}
