
.modalWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(0,0,0,.25);
    backdrop-filter: blur(3.5px);
    transition: opacity .4s;
}
.modalWrap .modalContainer{
    background-color: #01173d;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: 900px;
}
.modalWrap .modalContainer h3{
    margin-bottom: 15px;
}
.modalWrap .modalContainer iframe{
    border-radius: 10px;
    height: 500px;
}
.modalWrap .close-btn{
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

@media (max-width:1023px){
    .modalWrap .modalContainer{
        max-width: 600px;
        padding: 20px;
    }
    .modalWrap .modalContainer iframe{
        height: 350px;
    }
    .modalWrap .close-btn {
        font-size: 20px;
        right: 20px;
        top: 20px;
    }
}

@media (max-width:767px) {
    .modalWrap .modalContainer {
        max-width: 90vw;
        padding: 15px;
    }
    .modalWrap .close-btn {
        font-size: 20px;
        right: 15px;
        top: 15px;
    }
    .modalWrap .modalContainer h3 {
        margin-bottom: 10px;
    }
}

@media (max-width:576px){
    .modalWrap .modalContainer iframe{
        height: 280px;
    }
}
