.header {
    position: fixed;
    transform: translateY(0);
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    transition: all ease .5s;
    z-index: 999;
    color: #fff;
    background: rgba(0,0,0,.25);
}
.header.active{
    backdrop-filter: blur(3.5px);
}
.header .mainContainer,
.header .left-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.header .logo,
.header .logo a{
    height: 50px;
    display: flex;
    outline: 0;
}
.header .logo img{
    object-fit: scale-down;
}
.header .left-block .navbar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 0;
    margin: 0;
}

/* Search */

.header .searchBlock{
    cursor: pointer;
}
.header .right-block{
    position: relative;
}
.header .searchBox{
    position: absolute;
    bottom: -74px;
    right: 0;
    border-radius: 5px;
    animation: slideUp 0.4s ;
    box-shadow: 1px 1px 10px rgb(4 21 45 / 32%);
}
.searchBox input[type='text']{
    height: 50px;
    padding:0 20px;
    width: 400px;
    outline: 0;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    color: #d4d4d4;
    background-color: #16335c;
}
.searchBox input::placeholder{
    color: #a0a0a0;
}
.searchBlock svg{
    font-size: 20px;
}
.submitBtn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(229 9 20 / 75%);
    color: #fff;
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
}
.submitBtn:hover{
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
}

@keyframes slideUp {
    from{
    transform: translateY(30px);
    }to{
     transform: translateY(0);
    }
}


/* Responsive */

@media (max-width:1024px) {
    .header .logo, .header .logo a {
        height: 30px;
    }
}

@media (max-width:767px){
    .searchBox input[type='text']{
        height: 45px;
        padding: 0 15px;
        width: 300px;
        font-size: 14px;
    }
    .submitBtn {
        width: 80px;
        height: 45px;
        font-size: 14px;
    }  
    .header .searchBox {
        bottom: -59px;
    }  
    .searchBlock svg {
        font-size: 18px;
    }
}

