.footer{
    background-color: #051c3d;
    padding: 15px 0;
}
.footer .mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    line-height: 0;
}
.footer .leftBlock img{
    max-width: 200px;
    cursor: pointer;
}

/* Back-to-top */

.backToTop{
    position: fixed;
    bottom: 85px;
    right: 35px;
    width: 50px;
    height: 50px;
    line-height: 60px;
    background-color: rgb(229, 9, 20,0.9);
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}
.backToTop svg{
    font-size: 20px;
}
.backToTop:hover{
    background-color: rgb(229, 9, 20,0.7);
    transition: all 0.4s ease-in-out;
}
.backToTop.active{
    display: none;
}

/* Responsive */

@media (max-width:1024px){
    .footer .leftBlock img {
        height: 30px;
    }
    .movieDetailsWrap .circleRating,
    .play-icon svg{
        height: 70px;
        width: 70px;
    }
    .overview p {
        font-size: 16px;
        line-height: 23px;
    }
}

@media (max-width:767px) {
    .footer .leftBlock img {
        max-width: 108px;
    }
}