
.sliderContainer{
    margin-bottom: 80px !important;
}
.slick-track {
    display: flex !important;
    gap: 30px;
    margin-left: -10px !important;
}
.sliderTitle,
.mainTitle{
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 900;
    margin-bottom: 20px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
    text-shadow: 2px 2px 20px #e50914;
    margin-left:15px
}
.mainTitle{
    margin-left: 0;
}
.slick-slider .slick-prev{
    left: 0;
    z-index: 99;
}
.slick-slider .slick-next{
    right: 0;
}

@media (max-width:1024px) {
    .sliderContainer{
        margin-bottom: 60px !important;
    }
}
@media (max-width:767px) {
    .slick-track {
        gap: 20px;
    }
    .movieCard .circleRating {
        width: 40px !important;
        height: 40px !important;
        bottom: 55px !important;
    }
    .movieCard .cardImg{
        margin-bottom: 12px !important;
    }
    .sliderContainer {
        margin-bottom: 40px !important;
    }
    .sliderTitle, .mainTitle {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 15px;
        margin-left: 10px;
    }
}

